[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymc = "*"
seaborn = "*"
jupyter = "*"
daft = "*"
scikit-learn = "*"
watermark = "*"
graphviz = "*"
jupyterlab = "*"
rethinking-utils = {editable = true, path = "."}
pip = "*"
autograd = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"	# pymc sampling doesn't work with python 3.11 yet as of Apr 7, 2023.
